// 阿里规约

:root {
  // 强制
  --alibaba-qiangzhi-text-color: rgb(175, 54 ,40);
  // 推荐
  --alibaba-tuijian-text-color: rgb(255, 199 ,0);
  // 说明
  --alibaba-shuoming-text-color: rgb(126, 119 ,45);
  // 参考
  --alibaba-cankao-text-color: rgb(118, 146 ,60);
  // 反例
  --alibaba-fanli-text-color: rgb(255, 73 ,64);
}

