/* markdown引用颜色修改 */
.vp-doc blockquote {
  border-radius: 10px;
  // 去掉左上角和左下角的圆角效果
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 18px 20px 20px 15px;
  position: relative;
  // 背景颜色
  background-color: var(--vp-c-gray-soft);
  // 左边框颜色
  border-left: 6px solid var(--vp-c-green-2);
}
